html {
    font-size: 62.5%;
}

header{
    height: 80px;
}

nav{
    width: 75%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    
}

#section-search{
    height: 300px;
    background-color: red;
    background: url('images/hero.jpg');
    background-size: cover;
    color: #fff;
}

#section-search h2{
    font-size: 3.1em;
    margin-top: 0;
    padding-top: 50px;
    margin-left: 50px;
}

#section-search p{
    font-size: 1.5em;
    padding-top: 10px;
    margin-left: 50px;
}

.inp-search{
    font-size: 1.5em;
    padding: 10px;
    margin-left: 50px;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: none;
    color: rgb(92, 89, 89);

}

#section-search form{
    position: relative;
    margin-bottom: 0;
}

#section-search form .submit-search{
    background-image: url(images/lupa.png);
    background-color: transparent;
    position: absolute;
    left:310px;
    top:2px;
    height: 90%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}

#section-barra{
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* 
    IE6-9 */
   
}

.div-barra{
    display: flex;
    width: 75%;
    margin: auto;
    align-content: center;
}



.div-barra-item{
    display: flex;
    padding: 10px;
    width: 100%;
}

.div-barra-item img{
    width: 40px;
    height: 40px;
    margin: auto;
}




.p-barra{
    margin-left: 20px;
    color: white;
    font-size: 1.5em;
}

#section-cursos{
    text-align: center;
}

#section-cursos h2{
    display: block;
    margin-top: 40px;
    font-size: 2.5em;
}


.cursos{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    background: rgb(223, 217, 217);
    width: 23.5%;
    margin-bottom: 30px;
    flex: none; /*evita que los items crezcan o se reduscan */
    line-height: 5px;
}

.card .card-instructor{
    color: rgb(63, 49, 49);
    font-size: 1.5em;
    
}

.card h3{
    font-size: 2.0em;
}



.card img:first-child{
    width: 100%;
    height: 150px;
}

.card-price{
    font-size: 1.4em;
}

.star-image{
    width: 40%;
}

.card button{
    background: rgba(24, 139, 247, 0.863);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 10px;
}


footer{
    height: 50px;
    background: #000;
}

nav #carrito{
    display: none;
    position: absolute;
    background-color: white;
    top: 80px;
    right: 15px;
    padding: 20px;
    z-index: 1;
}

nav:hover #carrito{
    display: block;
}

.tbl-carrito{
    min-width: 400px;
    border-bottom: 1px solid gray;
}


@media (max-width: 680px){

    .card{
        width: 100%;
        margin-bottom: 1%;
        flex: none; /*evita que los items crezcan o se reduscan */
    }
}

.img-carrito{
    width: 140px;
}


.btn-delete{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 5px;
    background-color: red;
    border-radius: 35px;
}

.btn-vaciar{
    background: rgb(255, 0, 0);
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}